* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*removing ng box outline ng navbar*/

a {
    text-decoration: none; /*alis underline ng links*/
}

#navbar{
    background: #3f3e3f; /*kulay ng navbar*/
    border-bottom: 3.5px solid #c9c7c7; /*line separator of navbar*/

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*for the navbar to stick to the top*/

}

#navbar a{
    color: rgb(255, 255, 255); /*font color ng linksr*/
}

.nav-container{
    display: flex; /*para horizontally aligned ang mga elements within a container*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    
}

.navlinks {
    font-family: "Saira Stencil", sans-serif;
}


ul {
    display: flex;
    gap: 13px;
    list-style: none;
}

body{
    background-color: #3f3e3e;
    padding-top: 10px;
}

#hero{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 700;

    color: aliceblue;
    font-family: "Saira Stencil", sans-serif;

    background: linear-gradient(135deg, #111111, #1d0061);
    border-bottom: 3.5px solid #c9c7c7; /*line section separator*/
}

.hero-container{
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 90px;

    background-color: rgb(15, 2, 15);
}

.name {
    font-family: "Saira Stencil", sans-serif;
    font-size: 2rem;
    padding-left: 20px;
    color: #9bd3f3;
    font-weight: 400;
}


.namehero{
    font-size: 3rem;
    font-weight: 3rem;
}

.greetings{
    color: #9bd3f3;
}

.role{
    color: #818181;
    padding-bottom: 10px;
}

.description{
    color: #818181;
}

#about{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 700;

    color: aliceblue;
    font-family: "Saira Stencil", sans-serif;

    background: linear-gradient(135deg, #111111, #1d0061);

    border-bottom: 3.5px solid #c9c7c7; /*line section separator*/
}

.about-container{
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
    width: 70%;
    background-color: rgb(15, 2, 15);
}

.me{
    padding-top: 40px;
    padding-bottom: 20px;
}

.abt-title{
    color: #9bd3f3;
}

.skillsl, .aboutl, .projectsl, .contactsl{
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    max-height: 50px;

    font-size: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth; 
}

#skills{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-left: 50px;

    font-size: 1.2rem;
    font-weight: 700;

    color: aliceblue;
    font-family: "Saira Stencil", sans-serif;

    background: linear-gradient(135deg, #111111, #1d0061);
    border-bottom: 3.5px solid #c9c7c7; /*line section separator*/
}

.skills-container{
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 90px;

    text-align: justify;
    background-color: rgb(15, 2, 15);
    width: 90%;
    height: 80%;
}

.skill-title{
    color: #9bd3f3;
    padding-bottom: 50px;
}

.skill-list{
    list-style: none;
    flex-direction: column;
    width: 100%;
}

.sone {
    background-color: #0987a0;
    border-radius: 20px;
    padding: 10px 20px;
}

.sjava, .sjs, .spy, .sdb, .sc1, .sc2{
    background-color: #00d4ff;
    border-radius: 20px;
    padding: 10px 20px;

    font-size: 1rem;
    color: white;
}

#projects{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 700;

    color: aliceblue;
    font-family: "Saira Stencil", sans-serif;

    background: linear-gradient(135deg, #111111, #1d0061);
}

.projects-container{
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 90px;

    text-align: center;
    background-color: rgb(15, 2, 15);
    width: 50%;
    height: 80%;
}

#footer{
    display: flex;
    min-height: 15vh;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
    font-weight: 700;

    color: rgb(123, 124, 124);
    font-family: "Saira Stencil", sans-serif;

    background: rgb(39, 39, 39);
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

.linkedinlogo{
    width: 50px;
    border-radius: 20px;
    justify-content: space-between;    
}

.footer-icons {
    display: flex;
    gap: 15px;
}